@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
* {
  font-family: 'Coming Soon', cursive;
  color: #2F4858;
}

body {
  background-color: #00B6D3;
  padding: 60px;
}

.search-bar-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border: none;
  border-radius: 50px;
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 50px;
  outline: none;
  padding: 5px 20px;
  width: 500px;
}

hr {
  border: 1px solid #2F4858;
}

.card-grid {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-grid h2 {
  text-align: center;
}

.card-grid-titles h2 {
  color:  #2F4858;
}

.card {
  align-content: center;
  background-color: #2F4858;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 30px;
}

.card h1, h2, p, b {
  color: #DFE0DF;
  padding: 0 10px;
  text-align: left;
}

.card img {
  max-height: 170px;
}